[Unit]
Description=Cloudup
After=network-online.target

[Service]
User={{ user.name }}
Group={{ user.name }}
Type=simple
WorkingDirectory=/opt/cloudup/
ExecStart=/usr/bin/python3 /opt/cloudup/cloudup.py run --loglevel=INFO
ExecStopPost=/bin/rm -rf /opt/cloudup/locks
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
