{
    "core": {
        "dry_run": false,
        "rclone_binary_path": "/usr/bin/rclone",
        "rclone_config_path": "/home/{{ user.name }}/.config/rclone/rclone.conf"
    },
    "hidden": {
        "/mnt/local/.unionfs-fuse": {
            "hidden_remotes": [
                "{{ rclone.remote }}"
            ]
        }
    },
    "notifications": {
    },
    "remotes": {
        "{{ rclone.remote }}": {
            "hidden_remote": "{{ rclone.remote }}:",
            "rclone_excludes": [
                "**partial~",
                "**_HIDDEN~",
                ".unionfs/**",
                ".unionfs-fuse/**",
                ".fuse_hidden**"
            ],
            "rclone_extras": {
                "--user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/74.0.3729.131 Safari/537.36",
                "--checkers": 16,
                "--drive-chunk-size": "128M",
                "--stats": "60s",
                "--transfers": 8,
                "--verbose": 1,
                "--skip-links": null,
                "--retries": 1,
                "--low-level-retries": 2,
                "--drive-stop-on-upload-limit": null
            },
            "rclone_sleeps": {
                "Failed to copy: googleapi: Error 403: User rate limit exceeded": {
                    "count": 10,
                    "sleep": 25,
                    "timeout": 7200
                },
                " 0/s,": {
                    "count": 16,
                    "sleep": 25,
                    "timeout": 62
                }
            },
            "rclone_command": "move",
            "remove_empty_dir_depth": 2,
            "sync_remote": "{{ rclone.remote }}:/Logs",
            "upload_folder": "/mnt/local/logs",
            "upload_remote": "{{ rclone.remote }}:/Logs"
        }
    },
    "syncer": {
    },
    "uploader": {
        "{{ rclone.remote }}": {
            "check_interval": 30,
            "exclude_open_files": false,
            "max_size_gb": 200,
            "opened_excludes": [
                "/downloads/"
            ],
            "size_excludes": [
                "downloads/*"
            ],
            "service_account_path": ""
        }
    }
}
