[Unit]
Description=Rclone Cache Mount
After=network-online.target

[Service]
User={{ user.name }}
Group={{ user.name }}
Type=notify
ExecStartPre=/bin/sleep 10
ExecStart=/usr/bin/rclone mount \
  --user-agent='Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/74.0.3729.131 Safari/537.36' \
  --config=/home/{{ user.name }}/.config/rclone/rclone.conf \
  --allow-other \
  --allow-non-empty \
  --cache-db-purge \
  --rc \
  --rc-addr=localhost:5572 \
  --fast-list \
  --drive-skip-gdocs \
  --poll-interval=1m \
  --timeout=10m \
  --umask=002 \
  --syslog \
  --cache-remote "{{ rclone.remote }}:" \
  --cache-plex-url "https://plex.{{ user.domain }}" \
  --cache-chunk-size 10M \
  --cache-info-age 24h \
  --cache-chunk-total-size 10G \
  --cache-plex-token "{{ plex_auth_token | default('') }}" \
  -v \
  cache: /mnt/remote
ExecStop=/bin/fusermount -uz /mnt/remote
Restart=on-abort
RestartSec=5
StartLimitInterval=60s
StartLimitBurst=3

[Install]
WantedBy=default.target
