[Unit]
Description=UnionFS Mount
After=network-online.target

[Service]
Type=forking
GuessMainPID=no
User={{ user.name }}
Group={{ user.name }}
ExecStart=/usr/bin/unionfs-fuse \
  -o cow,allow_other,nonempty \
  /mnt/local=RW:/mnt/remote=RO /mnt/unionfs
ExecStop=/bin/fusermount -u /mnt/unionfs

[Install]
WantedBy=default.target
